---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { Image } from "astro:assets"
import myImage from "../../public/crop_DSC_1565.png"
import pccertImage from "../../public/pccert.png"
import WorkExperience from '../components/aboutme/WorkExperience.astro';
---

<Layout title="zachery lewis. - about">
	<main>
		<Header/>

		<script>
			fadeIn(document.querySelectorAll<HTMLElement>('.to-fade'));

			function fadeIn(toFade : NodeListOf<HTMLElement>) {
				var op = 0;  // initial opacity
				toFade.forEach((element) => {
					var timer = setInterval(function () {
						if (op >= 1){
							clearInterval(timer);
						}
						element.style.opacity = op.toString();
						element.style.filter = 'alpha(opacity=' + op * 100 + ")";
						op += 0.01;
					}, 10);
				});
			}

			var flagWorkExp = true
			var flagCert = true

			window.addEventListener("scroll", function() {
				if(this.scrollY > 2000) {
					if(flagCert) {
						fadeIn(document.querySelectorAll('.certs'));
						flagCert = false;
					}
				}
				else if(this.scrollY > 600) {
					if(flagWorkExp) {
						fadeIn(document.querySelectorAll('.work-experience'));
						flagWorkExp = false;
					}
				}
			})
		</script>

		<div class="main-area to-fade">
			<Image decoding="sync" class="aboutme-img" src={myImage} alt="Zachery Lewis"/>
			<div class="writeup">
				<h1>My name is Zachery Lewis and I'm a Software Engineer.</h1>
				<p>I completed my Bachelor of Science in Software Engineering at University of New Brunswick in 2021. During my years at UNB, I earned vauable practical experience for three semesters at IBM Canada and one at Clearview, which earned me a Co-op Designation on my transcript. </p>
				<p>After graduating, I started as a Technical Support Engineer at Guidewire Inc. Since then, I've transitioned to a Platform Support Engineer. Quick to learn and eager to develop my skills, I am open to trying out different roles.</p>
			</div>
		</div>

		<div class="work-experience">
			<WorkExperience/>
		</div>
		<div class="certs">
			<h1>Certifications</h1>
			<div class="workplace">
				<Image class="workplace-img" src={pccertImage} alt="Guidewire Inc." width={200} height={226}></Image>
				<div class="workspace-writeup">
					<h2>PolicyCenter Certified</h2>
					<h3>Professional Configuration Support</h3>
				</div>
			</div>
		</div>
	</main>
</Layout>


<style>
	.certs {
		opacity: 0;
		background-color: #384552;
		border-radius: 25px;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 5vw;
		padding-top: 66px;
	}
	.workplace-img {
		margin-right: 66px;
		border-radius: 25px;
		margin-bottom: auto;
		height: inherit;
	}
	.workplace-writeup {
		display: flex;
		flex-direction: column;
	}
	.aboutme-img {
		width: 40vw;
		height: auto;
  		border-radius: 25px;
		padding: 10px;
	}
	.to-fade {
		opacity: 0;
	}
	.main-area {
		display: flex;
		background-color: #384552;
		border-radius: 25px;
		flex-direction: row;
		margin-bottom: 5vw;
		align-items: center;
	}
	.writeup {
		padding: 10vw;
	}
	.work-experience {
		opacity: 0;
		background-color: #384552;
		border-radius: 25px;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 5vw;
		padding-top: 66px;
	}
	.workplace {
		width: 60vw;
		padding-bottom: 66px;
		flex-direction: row;
		display: flex;
	}
	h1 {
		color: #FFDFF7;
		text-decoration: none;
		font-size: 36px;
		font-weight: 400;
		margin-top: 0px;
	}
	h2 {
		color: #a3e6d7;
		font-weight: 400;
		margin: 0px;
	}
	h3 { 
		font-weight: 400;
		margin: 0px;
		color: #FFDFF7;
	}
	h4 { 
		font-weight: 400;
		margin: 0px;
		color: #FFDFF7;
		opacity: 75%;
	}
	
	@media screen and (max-width: 1000px) {
		h3 {
			font-size: 16px;
			text-align: center;
		}
		h1 {
			font-size: 26px;
			text-align: center;
		}
		p {
			font-size: 16px;
			text-align: justify;
		}
		h2 {
			font-size: 20px;
			text-align: center;
		}
		h4 { 
			font-weight: 400;
			margin: 0px;
			color: #FFDFF7;
			font-size: 16px;
			text-align: center;
		}
		.work-experience {
			border-radius: 10px;
		}
		.workplace {
			width: 80vw;
			padding-bottom: 66px;
			flex-direction: column;
			display: flex;
			align-items:center;
		}
		.workplace-img {
			margin-right: 0px;
			border-radius: 10px;
    		margin-bottom: 1.5em;
		}
		.workplace-writeup {
			display: flex;
			flex-direction: column;
		}
		#aboutme-intro {
			width: 100%;
			height: auto;
			border-radius: 10px;
			padding: 0px;
		}
		.writeup {
			padding: 8vw;
		}
		.main-area {
			display: flex;
			background-color: #384552;
			border-radius: 10px;
			flex-direction: row;
			margin-bottom: 5vw;
			align-items: center;
			flex-direction: column-reverse;
		}
	}
</style>
