---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="zachery lewis.">
	<main>
		<Header/>
		<div class="main-area">
		</div>
	</main>
</Layout>

<style>
</style>
