---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="zachery lewis.">
	<main>
		<Header/>
		<h3>this website LOL</h3>
	</main>
</Layout>

<style>
	h3 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;
	}
</style>
