---
//import Navigation from './Navigation.astro';
---
<header> 
    <div class="outer-box">
        <div class="header-pages">
            <a href="/aboutme">About</a>
            <a href="/contact">Contact</a>
        </div>
        <!--a href="/"><img src="/IMG_0263.png" alt="Metal Logo"></a-->
        <a class="title" href="/">zacherylewis.ca</a>
        <div class="header-links">
            <a href="https://www.instagram.com/im_zachey/" class="fa fa-instagram" target=”_blank” rel="noreferrer"></a>
            <a href="https://github.com/zacherycecil"class="fa fa-github" target=”_blank” rel="noreferrer"></a>
            <a href="https://www.last.fm/user/alienwaters" class="fa-brands fa-lastfm" target=”_blank” rel="noreferrer"></a>
            <a href="https://www.linkedin.com/in/zachery-cj-lewis/" class="fa-brands fa-linkedin-in" target=”_blank” rel="noreferrer"></a>
        </div>
    </div>
</header>
<style>
    .title {
        font-size: 40px;
		color: #FFDFF7;
		text-decoration: none;
    }
    header {
        overflow: hidden;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    img {
        width: 400px;
        padding-top: 8px;
        max-width: 50vw;
        height: auto;
    }
    .main-word {
		display: flex;
		color: #FFDFF7;
		text-decoration: none;
		font-size: 36px;
        float: left;
        justify-content: space-around;
        flex: 1 1 0;
    }
    .header-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
		align-items: center;
        flex: 1 1 0;
        margin-top: 20px;
    }
    .outer-box {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #projects {
        color: lightgray;
    }
    .header-links a {
		color: #FFDFF7;
		text-decoration: none;
		font-size: 24px;
        padding: 8px;
        opacity: 85%;
    }
    .header-pages {
        display: flex;
        flex-direction: row;
		align-items: center;
        flex: 1 1 0;
    }
    .header-pages a {
		color: #FFDFF7;
		text-decoration: none;
		font-size: 24px;
        padding: 8px;
        opacity: 85%;
    }
	@media screen and (max-width: 1000px) {
        header {
            padding-top: 1%;
        }
    }
</style>